$fontSize-375: 16px;
$boxShadow: 0 5px 15px rgb(0, 0 , 0 , 0.1);

@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start
}

@mixin dropDownMenu {
    width: inherit;
    height: 160px;
    box-shadow: $boxShadow;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    .item {
        cursor: pointer;
        font-size: $fontSize-375;
        padding: 5px 25px;
        &:hover {
            background-color: #aaaaaa;
        }
    }
}

.searchingInstruments {
    @include flex();
    gap: 30px;

    form {
        .searchBar {
            @include flex();
            flex-direction: row;
            align-items: center;
            gap: 40px;
    
            margin-top: 46px;
            box-shadow: $boxShadow;
            background-color: white;
            border-radius: 10px;
            width: inherit;
            height: 44px;
            padding: 0px 31px;
            i {
                color: #b4b4b4;
                font-size: $fontSize-375;
            }
            input {
                border: unset;
                width: 100%;
                height: inherit;
                font-size: $fontSize-375;
                &::placeholder {
                    color: #c5c5c5;
                    font-size: $fontSize-375;
                }
            }
        }
    }
    

    .filterMenu {
        width: 220px;
        
        .dropDownBtn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            width: inherit;
            height: 44px;
            box-shadow: $boxShadow;
            border-radius: 10px;
            background-color: white;
            text-align: center;
            padding: 20px;
            cursor: pointer;
            span{
                font-size: $fontSize-375;
            }
        }

        .dropDownMenu {
           @include dropDownMenu();
            opacity: 0.2;
            transform: scale(0);
            transform-origin: top;
            transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s ease;
        }
        
        .dropDownMenuOpen  {
            @include dropDownMenu();
            opacity: 1;
            transform: scale(1);
        }
    }
}

@media screen and (min-width: 750px) {
    .searchingInstruments {

        form {
            .searchBar {
                padding: 0px 64px;
                width: 686px;
                height: 100px;
                input {
                    font-size: 28px;
                    &::placeholder {
                        font-size: 28px;
                    }
                }
                i {
                    font-size: 36px;
                }
            }
        }

        .filterMenu {
            .dropDownBtn {
                width: 400px;
                height: 97px;
                padding: 0 35px;
                span {
                    font-size: 30px;
                }
            }
        
            .dropDownMenu {
                width: 400px;
            }
        
            .dropDownMenuOpen  {
                width: 400px;
                height: 290px;
                padding: 37px 22px;
                .item {
                    padding: 0;
                    padding-bottom: 5px;
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1310px) {
    .searchingInstruments {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 45px;

        padding: 0 80px;
        width: 100%;

        form {
            .searchBar {
                margin: 0px;
                padding: 0px 30px;
                width: 482px;
                height: 57px;
                input {
                    font-size: 18px;
                    &::placeholder {
                        font-size: 18px;
                    }
                }
                i {
                    font-size: 20px;
                }
            }
        }

        .filterMenu {
            
            .dropDownBtn {
                width: 200px;
                height: 57px;
                padding: 20px;
                span {
                    font-size: 16px;
                }
            }
    
            .dropDownMenu {
                width: 200px;
                height: 57px;
            }

            .dropDownMenuOpen  {
               width: 200px;
               height: 160px;
               padding: 0;
                .item {
                    padding: 5px 25px;
                    font-size: 16px;
                }
            }
        }
    }
    
}