@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start
}

@mixin dropDownMenu {
    width: inherit;
    height: 160px;
    box-shadow: $boxShadow;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
    z-index: 1;
    .item {
        cursor: pointer;
        font-size: $fontSize-375;
        padding: 5px 25px;
        &:hover {
            background-color: #aaaaaa;
        }
    }
}

$fontSize-375: 16px;
$boxShadow: 0 5px 15px rgb(0, 0 , 0 , 0.1);

.searchingInstruments {
    @include flex();
    gap: 30px;

    form {
        .searchBar {
            @include flex();
            flex-direction: row;
            align-items: center;
            gap: 40px;
    
            margin-top: 46px;
            box-shadow: $boxShadow;
            background-color: white;
            border-radius: 10px;
            width: inherit;
            height: 44px;
            padding: 0px 31px;
            i {
                color: #b4b4b4;
                font-size: $fontSize-375;
            }
            input {
                border: unset;
                width: 100%;
                height: inherit;
                font-size: $fontSize-375;
                &::placeholder {
                    color: #c5c5c5;
                    font-size: $fontSize-375;
                }
            }
        }
    }
    

    .filterMenu {
        width: 220px;
        
        .dropDownBtn {
            width: inherit;
            height: 44px;
            box-shadow: $boxShadow;
            border-radius: 10px;
            background-color: white;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            span{
                font-size: $fontSize-375;
                padding: 0 10px;
            }
        }

        .dropDownMenu {
           @include dropDownMenu();
            opacity: 0.2;
            transform: scale(0);
            transform-origin: top;
            transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s ease;
        }
        
        .dropDownMenuOpen  {
            @include dropDownMenu();
            opacity: 1;
            transform: scale(1);
        }
    }
}

@media screen and (min-width: 760px) {
    .searchingInstruments {
        width: 685px;
        height: 275px;
        gap: 76px;

        form {
            .searchBar {
                padding: 0px 64px;
                height: 100px;
                input {
                    font-size: 26px;
                    &::placeholder {
                        font-size: 21px;
                    }
                }
                i {
                    font-size: 38px;
                }
            }
    
            .dropDownMenu {
                width: 400px;
                height: 100px;
                select {
                    width: 355px;
                    height: inherit;
                }
            }
        }
    }
    
}