.searchingInstruments {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}
.searchingInstruments form .searchBar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-top: 46px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  width: inherit;
  height: 44px;
  padding: 0px 31px;
}
.searchingInstruments form .searchBar i {
  color: #b4b4b4;
  font-size: 16px;
}
.searchingInstruments form .searchBar input {
  border: unset;
  width: 100%;
  height: inherit;
  font-size: 16px;
}
.searchingInstruments form .searchBar input::-moz-placeholder {
  color: #c5c5c5;
  font-size: 16px;
}
.searchingInstruments form .searchBar input::placeholder {
  color: #c5c5c5;
  font-size: 16px;
}
.searchingInstruments .filterMenu {
  width: 220px;
}
.searchingInstruments .filterMenu .dropDownBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: 44px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
.searchingInstruments .filterMenu .dropDownBtn span {
  font-size: 16px;
}
.searchingInstruments .filterMenu .dropDownMenu {
  width: inherit;
  height: 160px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
  transform: scale(0);
  transform-origin: top;
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s ease;
}
.searchingInstruments .filterMenu .dropDownMenu .item {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 25px;
}
.searchingInstruments .filterMenu .dropDownMenu .item:hover {
  background-color: #aaaaaa;
}
.searchingInstruments .filterMenu .dropDownMenuOpen {
  width: inherit;
  height: 160px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transform: scale(1);
}
.searchingInstruments .filterMenu .dropDownMenuOpen .item {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 25px;
}
.searchingInstruments .filterMenu .dropDownMenuOpen .item:hover {
  background-color: #aaaaaa;
}

@media screen and (min-width: 750px) {
  .searchingInstruments form .searchBar {
    padding: 0px 64px;
    width: 686px;
    height: 100px;
  }
  .searchingInstruments form .searchBar input {
    font-size: 28px;
  }
  .searchingInstruments form .searchBar input::-moz-placeholder {
    font-size: 28px;
  }
  .searchingInstruments form .searchBar input::placeholder {
    font-size: 28px;
  }
  .searchingInstruments form .searchBar i {
    font-size: 36px;
  }
  .searchingInstruments .filterMenu .dropDownBtn {
    width: 400px;
    height: 97px;
    padding: 0 35px;
  }
  .searchingInstruments .filterMenu .dropDownBtn span {
    font-size: 30px;
  }
  .searchingInstruments .filterMenu .dropDownMenu {
    width: 400px;
  }
  .searchingInstruments .filterMenu .dropDownMenuOpen {
    width: 400px;
    height: 290px;
    padding: 37px 22px;
  }
  .searchingInstruments .filterMenu .dropDownMenuOpen .item {
    padding: 0;
    padding-bottom: 5px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1310px) {
  .searchingInstruments {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding: 0 80px;
    width: 100%;
  }
  .searchingInstruments form .searchBar {
    margin: 0px;
    padding: 0px 30px;
    width: 482px;
    height: 57px;
  }
  .searchingInstruments form .searchBar input {
    font-size: 18px;
  }
  .searchingInstruments form .searchBar input::-moz-placeholder {
    font-size: 18px;
  }
  .searchingInstruments form .searchBar input::placeholder {
    font-size: 18px;
  }
  .searchingInstruments form .searchBar i {
    font-size: 20px;
  }
  .searchingInstruments .filterMenu .dropDownBtn {
    width: 200px;
    height: 57px;
    padding: 20px;
  }
  .searchingInstruments .filterMenu .dropDownBtn span {
    font-size: 16px;
  }
  .searchingInstruments .filterMenu .dropDownMenu {
    width: 200px;
    height: 57px;
  }
  .searchingInstruments .filterMenu .dropDownMenuOpen {
    width: 200px;
    height: 160px;
    padding: 0;
  }
  .searchingInstruments .filterMenu .dropDownMenuOpen .item {
    padding: 5px 25px;
    font-size: 16px;
  }
}/*# sourceMappingURL=Search.module.css.map */