@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}